body {
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: top;
    height: 100vh;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    background-color: rgb(120, 194, 194);
  


}

header {
   height: 200px;
   width: 100VW;
   background-color: blanchedalmond;

}

.exemplo {
   display: inline-block;
   max-height: 50px;
   padding: 10px;
   border: 2px solid black;
   border-radius: 10px;
   background-color: aqua;
   font-size: 100%;
   font-family: Verdana, Geneva, Tahoma, sans-serif;

}

.slider {
    width: 100%;
    height: 400px;
    overflow: hidden;
   position: absolute;
   top: 100px;
}

.slides {
    width: 400%;
    height: 400px;
    display: flex;
}

.slides input {
    display: none;
}

.slide img {
    width: 100VW;
    max-height: 30vh;
    min-height: 30vh;
    
    
    
}

.slide {
    transition: 2s;
    
}

 .manual-navigation {
    position:absolute;
    width: 800px;
    margin-top: -40px;
    display: flex;
    justify-content: center;
 }

 .manual-btn {
    border: 2px solid #fff;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
    margin: auto;
    display: flex;
 }

 .manual-btn:not(:last-child) {
    margin-right: 40px;
 }

 .manual-btn:hover {
    background-color: #fff;
 }

 #radio1:checked ~ .first {
    margin-left: 0;
 }

 #radio2:checked ~ .first {
    margin-left: -25%;
 }

 #radio3:checked ~ .first {
    margin-left: -50%;
 }

 #radio4:checked ~ .first {
    margin-left: -75%;
 }

 .navigation-auto div {
    border: 2px solid rgb(52, 52, 139);
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
    transition: 1s;
    margin: auto;
    display: none;
    
 }

 .navigation-auto {
    position: absolute;
    width: 800px;
    margin-top: 360px;
    display: flex;
    justify-content: center;
 }

 .navigation-auto div:not(:last-child) {
    margin-right: 40px;
 }

 #radio1:checked ~ .navigation-auto .auto-btn1 {
    background-color: #fff;
 }

 #radio2:checked ~ .navigation-auto .auto-btn2 {
    background-color: #fff;
 }

 #radio3:checked ~ .navigation-auto .auto-btn3 {
    background-color: #fff;
 }

 #radio4:checked ~ .navigation-auto .auto-btn4 {
    background-color: #fff;
 }

 

